<p id="notice"><%= notice %></p>


<h1>	
  <%= @post.title %>
</h1>

  
 <%= @post.user.username %> posted <%= time_ago_in_words(@post.created_at) %> ago
<p>
 	<%= @post.created_at.strftime("Posted on %m/%d/%Y which was a %A") %>	
</p>



<div class="panel panel-primary">
  <%= @post.blog_entry %>	
</div>


<% @post.comments.each do |comment| %>
	<div class="panel panel-default">
		<div class="panel-heading panel-primary">
			<p><b><%= comment.user.username %></b> said <%= time_ago_in_words(comment.created_at) %> ago</p>
		</div>
		<div class="panel-body">
			<p><%= comment.comment_entry %></p>
		</div>
	</div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %>

<div id="comments">
	<%= render 'comments/form', comment: @comment %>
</div>

<%= link_to 'Back', posts_path %>
